.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
}

.side-nav{
    height: auto;
    width: 100%;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;
}

.side-nav-div{
    padding: 10px 0px;
}

.side-nav-div div{
    padding-left: 10px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 10px;
    transition: 0.2s;

}

.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}

@media only screen and (min-width: 768px) and (max-width: 1250px)  {
    .left-sidebar{
        width: 264px;
        box-shadow: 1px 1px 0 rgba(0,0,0, 0.2);
        transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
        transform: translateZ(0);
        box-sizing: border-box;
        font-size: 13px;
    }
    
    .side-nav{
        height: auto;
        width: 100%;
        max-width: 100%;
        position: sticky;
        margin: 50px 0px;
        padding: 20px 0px;
    }
}
@media only screen and (max-width: 768px) {
    .left-sidebar{
        width: 245px;
        position: absolute;
        background-color: white;
        left: 0%;
        
    }

    .side-nav{
        margin: 4px 0px;
        padding: 4px 0px;
        padding-bottom: 8px;
        margin-bottom: 12px;
    }
}